<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyy.fin.mapper.ext.FinMonthlySnapModelExtMapper">

  
  <select id="selectDistinctItem"  resultType="java.lang.String">
   
    select distinct snap_item from fin_monthly_snapshot order by snap_item
   
  </select>
  
   <select id="selectDistinctMonth"  resultType="java.util.Date">
   
    SELECT DISTINCT DATE_FORMAT(snap_time,'%Y-%m-%d') FROM fin_monthly_snapshot

  </select>
  
  <select id="selectByMonth" parameterType="Map" resultType="xyy.fin.model.FinMonthlySnapModel">
  	select id,snap_item,snap_time,snap_balance from fin_monthly_snapshot
  		where DATE_FORMAT(snap_time,'%Y-%m')=#{month}
  </select> 
  
  <select id="insertMonthlySnap" parameterType="Map">
  INSERT INTO fin_monthly_snapshot(snap_item,snap_balance, snap_time)
	SELECT item_name,item_balance,NOW()
		FROM fin_items
	WHERE item_type=#{prop}
  </select>
 
</mapper>